APIS FINALs/esb-monitoring-api/esb-monitoring-api/src/main/resources/xsds/wrapper.xsd

<xs:schema attributeFormDefault='unqualified' elementFormDefault='qualified' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
  <xs:element name='WRAPPER'>
	<xs:complexType>
		<xs:simpleContent>
			<xs:extension base='xs:string'>
				<xs:attribute type='xs:unsignedLong' name='ID' use='required'/>
				<xs:attribute type='xs:string' name='t' use='required'/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
  </xs:element>
</xs:schema>
